@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  background-image: url('./assets/pictures/fond/ardoise.jpg');
  /* background-image: url('./assets/pictures/fond/ardoise.png'); */
  background-color: black;
  background-repeat : repeat;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  --color-base : 0.5193 0.1112 162.34;
  --color-francais: 0.75 0.183 55.934;
  --color-francais-dark: 0.55 0.183 55.934;
  --color-francais-light: 0.95 0.183 55.934;
  --color-lexique:  0.712 0.194 13.428;
  --color-lexique-dark:  0.512 0.194 13.428;
  --color-lexique-light:  0.912 0.194 13.428;
  --color-grammaire:  0.651 0.262 276.966;
  --color-grammaire-light:  0.811 0.262 276.966;
  --color-grammaire-dark:  0.411 0.262 276.966;
  --color-conjugaison:  0.685 0.169 237.323;
  --color-conjugaison-dark:  0.485 0.169 237.323;
  --color-conjugaison-light :  0.885 0.169 237.323;
  --color-orthographe: 0.627 0.194 149.214;
  --color-orthographe-dark: 0.427 0.194 149.214;
  --color-orthographe-light: 0.827 0.194 149.214;
  --color-dictee:  0.448 0.119 151.328;
  --color-dictee-dark:  0.248 0.119 151.328;
  --color-dictee-light:  0.648 0.119 151.328;

  --color-mathematiques:  0.591 0.293 322.896;
  --color-mathematiques-dark:  0.391 0.293 322.896;
  --color-mathematiques-light:  0.791 0.293 322.896;
  --color-nombre: 0.627 0.194 149.214;
  --color-nombre-dark: 0.427 0.194 149.214;
  --color-nombre-light: 0.827 0.194 149.214;
  --color-calcul:  0.712 0.194 13.428;
  --color-calcul-dark:  0.512 0.194 13.428;
  --color-calcul-light:  0.912 0.194 13.428;
  --color-calculmental:  0.718 0.202 349.761;
  --color-calculmental-dark:  0.518 0.202 349.761;
  --color-calculmental-light :  0.918 0.202 349.761;
  --color-geometrie:  0.558 0.288 302.321;
  --color-geometrie-dark:  0.458 0.288 302.321;
  --color-geometrie-light:  0.758 0.288 302.321;
  --color-mesure:  0.685 0.169 237.323;
  --color-mesure-dark:  0.485 0.169 237.323;
  --color-mesure-light:  0.885 0.169 237.323;
  --color-resolution:  0.837 0.128 66.29;
  --color-resolution-dark:  0.637 0.128 66.29;
  --color-resolution-light:  1.037 0.128 66.29;
}
